engine-strict=true                  # https://pnpm.io/npmrc#engine-strict
auto-install-peers=true             # https://pnpm.io/npmrc#auto-install-peers
link-workspace-packages=true        # https://pnpm.io/npmrc#link-workspace-packages
shared-workspace-lockfile=false     # https://pnpm.io/npmrc#shared-workspace-lockfile
prefer-workspace-packages=true      # https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=rolling     # https://pnpm.io/npmrc#save-workspace-protocol
resolution-mode=highest             # https://pnpm.io/npmrc#resolution-mode