.changeset
.DS_Store
node_modules
**/build
**/.svelte-kit
**/package
**/dist
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
CHANGELOG.md

.github/
registry-template

# docs site specific
docs/other/themes/dark.json
docs/other/themes/light.json
docs/static
docs/.velite
docs/src/__registry__
packages/cli/test/fixtures
playgrounds
registry-template/static
.svelte-kit
docs/src/routes/og/*-otf.json
__*__.ts