{
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 80,
  "pluginSearchDirs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "endOfLine": "lf",
  "bracketSameLine": false,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^\\$app",
    "^\\$env",
    "^\\$service-worker",
    "^\\$lib/server",
    "^\\$lib/",
    "^\\$(?![^\\/]*\\/)",
    "^\\$[^/]*\\/[^/]+",
    "^[./]",
    "\\.js$",
    "\\.svelte$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": [
    "typescript",
    "svelte"
  ],
  "importOrderMergeDuplicateImports": true
}