@import "./globals.css";

.sapphire {
	--background: oklch(100% 0 0);
	--foreground: oklch(14% 0 260);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14% 0 260);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14% 0 260);
	--primary: oklch(55% 0.2 260);
	--primary-foreground: oklch(98% 0 250);
	--secondary: oklch(97% 0 250);
	--secondary-foreground: oklch(21% 0 270);
	--muted: oklch(97% 0 250);
	--muted-foreground: oklch(53% 0 260);
	--accent: oklch(97% 0 250);
	--accent-foreground: oklch(21% 0 270);
	--destructive: oklch(58% 0.2 27);
	--destructive-foreground: oklch(98% 0 250);
	--border: oklch(93% 0 260);
	--input: oklch(93% 0 260);
	--ring: oklch(55% 0.2 260);
	--chart-1: oklch(55% 0.2 260);
	--chart-2: oklch(72% 0.1 250);
	--chart-3: oklch(63% 0.2 260);
	--chart-4: oklch(81% 0.1 250);
	--chart-5: oklch(88% 0.1 250);

	@variant dark {
		--background: oklch(14% 0 290);
		--foreground: oklch(98% 0 0);
		--card: oklch(14% 0 290);
		--card-foreground: oklch(98% 0 0);
		--popover: oklch(14% 0 290);
		--popover-foreground: oklch(98% 0 0);
		--primary: oklch(55% 0.2 260);
		--primary-foreground: oklch(98% 0 250);
		--secondary: oklch(97% 0 250);
		--secondary-foreground: oklch(21% 0 270);
		--muted: oklch(27% 0 290);
		--muted-foreground: oklch(71% 0 290);
		--accent: oklch(27% 0 290);
		--accent-foreground: oklch(98% 0 0);
		--destructive: oklch(58% 0.2 27);
		--destructive-foreground: oklch(98% 0 250);
		--border: oklch(27% 0 290);
		--input: oklch(27% 0 290);
		--ring: oklch(55% 0.2 260);
		--chart-1: oklch(55% 0.2 260);
		--chart-2: oklch(72% 0.1 250);
		--chart-3: oklch(63% 0.2 260);
		--chart-4: oklch(81% 0.1 250);
		--chart-5: oklch(88% 0.1 250);
	}
}

.default {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	@variant dark {
		--background: oklch(0.145 0 0);
		--foreground: oklch(0.985 0 0);
		--card: oklch(0.205 0 0);
		--card-foreground: oklch(0.985 0 0);
		--popover: oklch(0.269 0 0);
		--popover-foreground: oklch(0.985 0 0);
		--primary: oklch(0.922 0 0);
		--primary-foreground: oklch(0.205 0 0);
		--secondary: oklch(0.269 0 0);
		--secondary-foreground: oklch(0.985 0 0);
		--muted: oklch(0.269 0 0);
		--muted-foreground: oklch(0.708 0 0);
		--accent: oklch(0.371 0 0);
		--accent-foreground: oklch(0.985 0 0);
		--destructive: oklch(0.704 0.191 22.216);
		--border: oklch(1 0 0 / 10%);
		--input: oklch(1 0 0 / 15%);
		--ring: oklch(0.556 0 0);
		--chart-1: oklch(0.488 0.243 264.376);
		--chart-2: oklch(0.696 0.17 162.48);
		--chart-3: oklch(0.769 0.188 70.08);
		--chart-4: oklch(0.627 0.265 303.9);
		--chart-5: oklch(0.645 0.246 16.439);
	}
}

.palette {
	--background: oklch(100% 0 0);
	--foreground: oklch(14% 0 290);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14% 0 290);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14% 0 290);
	--primary: oklch(21% 0 290);
	--primary-foreground: oklch(98% 0 0);
	--secondary: oklch(97% 0 290);
	--secondary-foreground: oklch(21% 0 290);
	--muted: oklch(97% 0 290);
	--muted-foreground: oklch(55% 0 290);
	--accent: oklch(97% 0 290);
	--accent-foreground: oklch(21% 0 290);
	--destructive: oklch(64% 0.2 25);
	--destructive-foreground: oklch(98% 0 0);
	--border: oklch(92% 0 290);
	--input: oklch(92% 0 290);
	--ring: oklch(14% 0 290);
	--chart-1: oklch(68% 0.2 35);
	--chart-2: oklch(63% 0.1 180);
	--chart-3: oklch(38% 0 230);
	--chart-4: oklch(83% 0.1 88);
	--chart-5: oklch(78% 0.1 59);

	@variant dark {
		--background: oklch(14% 0 290);
		--foreground: oklch(98% 0 0);
		--card: oklch(14% 0 290);
		--card-foreground: oklch(98% 0 0);
		--popover: oklch(14% 0 290);
		--popover-foreground: oklch(98% 0 0);
		--primary: oklch(98% 0 0);
		--primary-foreground: oklch(21% 0 290);
		--secondary: oklch(27% 0 290);
		--secondary-foreground: oklch(98% 0 0);
		--muted: oklch(27% 0 290);
		--muted-foreground: oklch(71% 0 290);
		--accent: oklch(27% 0 290);
		--accent-foreground: oklch(98% 0 0);
		--destructive: oklch(40% 0.1 26);
		--destructive-foreground: oklch(98% 0 0);
		--border: oklch(27% 0 290);
		--input: oklch(27% 0 290);
		--ring: oklch(87% 0 290);
		--chart-1: oklch(53% 0.2 260);
		--chart-2: oklch(70% 0.1 170);
		--chart-3: oklch(72% 0.1 61);
		--chart-4: oklch(62% 0.2 310);
		--chart-5: oklch(61% 0.2 6.4);
	}
}

.ruby {
	--background: oklch(100% 0 0);
	--foreground: oklch(14% 0 290);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14% 0 290);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14% 0 290);
	--primary: oklch(59% 0.2 18);
	--primary-foreground: oklch(99% 0 12);
	--secondary: oklch(97% 0 290);
	--secondary-foreground: oklch(21% 0 290);
	--muted: oklch(97% 0 290);
	--muted-foreground: oklch(54% 0 290);
	--accent: oklch(97% 0 290);
	--accent-foreground: oklch(21% 0 290);
	--destructive: oklch(58% 0.2 27);
	--destructive-foreground: oklch(98% 0 0);
	--border: oklch(92% 0 290);
	--input: oklch(92% 0 290);
	--ring: oklch(59% 0.2 18);
	--chart-1: oklch(59% 0.2 18);
	--chart-2: oklch(91% 0 8.9);
	--chart-3: oklch(73% 0.1 11);
	--chart-4: oklch(82% 0.1 9.4);
	--chart-5: oklch(65% 0.2 13);

	@variant dark {
		--background: oklch(14% 0 290);
		--foreground: oklch(98% 0 0);
		--card: oklch(14% 0 290);
		--card-foreground: oklch(98% 0 0);
		--popover: oklch(14% 0 290);
		--popover-foreground: oklch(98% 0 0);
		--primary: oklch(59% 0.2 18);
		--primary-foreground: oklch(99% 0 12);
		--secondary: oklch(97% 0 290);
		--secondary-foreground: oklch(21% 0 290);
		--muted: oklch(27% 0 290);
		--muted-foreground: oklch(71% 0 290);
		--accent: oklch(27% 0 290);
		--accent-foreground: oklch(98% 0 0);
		--destructive: oklch(58% 0.2 27);
		--destructive-foreground: oklch(98% 0 0);
		--border: oklch(27% 0 290);
		--input: oklch(27% 0 290);
		--ring: oklch(55% 0.2 260);
		--chart-1: oklch(59% 0.2 18);
		--chart-2: oklch(65% 0.2 13);
		--chart-3: oklch(73% 0.1 11);
		--chart-4: oklch(82% 0.1 9.4);
		--chart-5: oklch(91% 0 8.9);
	}
}

.emerald {
	--background: oklch(100% 0 0);
	--foreground: oklch(14% 0 290);
	--card: oklch(100% 0 0);
	--card-foreground: oklch(14% 0 290);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14% 0 290);
	--primary: oklch(54% 0.2 150);
	--primary-foreground: oklch(98% 0 12);
	--secondary: oklch(97% 0 290);
	--secondary-foreground: oklch(21% 0 290);
	--muted: oklch(97% 0 290);
	--muted-foreground: oklch(54% 0 290);
	--accent: oklch(97% 0 290);
	--accent-foreground: oklch(21% 0 290);
	--destructive: oklch(58% 0.2 27);
	--destructive-foreground: oklch(98% 0 0);
	--border: oklch(92% 0 290);
	--input: oklch(92% 0 290);
	--ring: oklch(54% 0.2 150);
	--chart-1: oklch(39% 0.1 150);
	--chart-2: oklch(72% 0.2 150);
	--chart-3: oklch(54% 0.2 150);
	--chart-4: oklch(32% 0.1 150);
	--chart-5: oklch(22% 0 150);

	@variant dark {
		--background: oklch(14% 0 290);
		--foreground: oklch(98% 0 0);
		--card: oklch(14% 0 290);
		--card-foreground: oklch(98% 0 0);
		--popover: oklch(14% 0 290);
		--popover-foreground: oklch(98% 0 0);
		--primary: oklch(54% 0.2 150);
		--primary-foreground: oklch(98% 0 12);
		--secondary: oklch(97% 0 290);
		--secondary-foreground: oklch(21% 0 290);
		--muted: oklch(27% 0 290);
		--muted-foreground: oklch(71% 0 290);
		--accent: oklch(27% 0 290);
		--accent-foreground: oklch(98% 0 0);
		--destructive: oklch(58% 0.2 27);
		--destructive-foreground: oklch(98% 0 0);
		--border: oklch(27% 0 290);
		--input: oklch(27% 0 290);
		--ring: oklch(54% 0.2 150);
		--chart-1: oklch(54% 0.2 150);
		--chart-2: oklch(39% 0.1 150);
		--chart-3: oklch(46% 0.1 150);
		--chart-4: oklch(32% 0.1 150);
		--chart-5: oklch(22% 0 150);
	}
}

.daylight {
	--background: oklch(92% 0 78);
	--foreground: oklch(29% 0 76);
	--primary: oklch(80% 0.1 78);
	--primary-foreground: oklch(25% 0 77);
	--secondary: oklch(85% 0 85);
	--secondary-foreground: oklch(41% 0.1 76);
	--accent: oklch(74% 0.1 75);
	--accent-foreground: oklch(34% 0.1 73);
	--destructive: oklch(48% 0.2 28);
	--destructive-foreground: oklch(98% 0 0);
	--muted: oklch(83% 0 78);
	--muted-foreground: oklch(41% 0.1 76);
	--card: oklch(88% 0 78);
	--card-foreground: oklch(35% 0 76);
	--popover: oklch(100% 0 0);
	--popover-foreground: oklch(14% 0 290);
	--border: oklch(73% 0.1 77);
	--input: oklch(73% 0.1 77);
	--ring: oklch(46% 0.1 76);
	--chart-1: oklch(41% 0.1 56);
	--chart-2: oklch(47% 0.1 58);
	--chart-3: oklch(54% 0.1 61);
	--chart-4: oklch(62% 0.1 67);
	--chart-5: oklch(68% 0.1 74);

	@variant dark {
		--background: oklch(92% 0 78);
		--foreground: oklch(29% 0 76);
		--primary: oklch(80% 0.1 78);
		--primary-foreground: oklch(25% 0 77);
		--secondary: oklch(85% 0 85);
		--secondary-foreground: oklch(41% 0.1 76);
		--accent: oklch(74% 0.1 75);
		--accent-foreground: oklch(34% 0.1 73);
		--destructive: oklch(48% 0.2 28);
		--destructive-foreground: oklch(98% 0 0);
		--muted: oklch(83% 0 78);
		--muted-foreground: oklch(41% 0.1 76);
		--card: oklch(88% 0 78);
		--card-foreground: oklch(35% 0 76);
		--popover: oklch(100% 0 0);
		--popover-foreground: oklch(14% 0 290);
		--border: oklch(73% 0.1 77);
		--input: oklch(73% 0.1 77);
		--ring: oklch(46% 0.1 76);
		--chart-1: oklch(41% 0.1 56);
		--chart-2: oklch(47% 0.1 58);
		--chart-3: oklch(54% 0.1 61);
		--chart-4: oklch(62% 0.1 67);
		--chart-5: oklch(68% 0.1 74);
	}
}

.midnight {
	--background: oklch(17% 0 290);
	--foreground: oklch(93% 0 110);
	--primary: oklch(92% 0 0);
	--primary-foreground: oklch(0% 0 0);
	--secondary: oklch(26% 0 290);
	--secondary-foreground: oklch(89% 0 110);
	--accent: oklch(25% 0 0);
	--accent-foreground: oklch(100% 0 0);
	--destructive: oklch(56% 0.2 26);
	--destructive-foreground: oklch(98% 0 0);
	--muted: oklch(36% 0 290);
	--muted-foreground: oklch(89% 0 110);
	--card: oklch(21% 0 290);
	--card-foreground: oklch(93% 0 110);
	--popover: oklch(26% 0 290);
	--popover-foreground: oklch(89% 0 110);
	--border: oklch(31% 0 290);
	--input: oklch(31% 0 290);
	--ring: oklch(92% 0 290);
	--chart-1: oklch(92% 0 16);
	--chart-2: oklch(80% 0 290);
	--chart-3: oklch(66% 0 290);
	--chart-4: oklch(53% 0 290);
	--chart-5: oklch(38% 0 290);

	@variant dark {
		--background: oklch(17% 0 290);
		--foreground: oklch(93% 0 110);
		--primary: oklch(92% 0 0);
		--primary-foreground: oklch(0% 0 0);
		--secondary: oklch(26% 0 290);
		--secondary-foreground: oklch(89% 0 110);
		--accent: oklch(25% 0 0);
		--accent-foreground: oklch(100% 0 0);
		--destructive: oklch(56% 0.2 26);
		--destructive-foreground: oklch(98% 0 0);
		--muted: oklch(36% 0 290);
		--muted-foreground: oklch(89% 0 110);
		--card: oklch(21% 0 290);
		--card-foreground: oklch(93% 0 110);
		--popover: oklch(26% 0 290);
		--popover-foreground: oklch(89% 0 110);
		--border: oklch(31% 0 290);
		--input: oklch(31% 0 290);
		--ring: oklch(92% 0 290);
		--chart-1: oklch(92% 0 16);
		--chart-2: oklch(80% 0 290);
		--chart-3: oklch(66% 0 290);
		--chart-4: oklch(53% 0 290);
		--chart-5: oklch(38% 0 290);
	}
}
