@import "./globals.css";

.markdown code {
	background-color: var(--muted);
	font-family: var(--font-mono);
	font-size: 0.875rem;
	padding: 0.2rem 0.3rem;
	border-radius: 0.25rem;
}

[data-theme*="github-dark"] {
	display: flex !important;
	flex-direction: column;
}

[data-style="new-york"] [__style__="default"] {
	display: none;
}

[data-style="default"] [data-style="default"] {
	display: flex;
	flex-direction: column;
}

[data-style="new-york"] [data-style="new-york"] {
	display: flex;
	flex-direction: column;
}

[data-style="default"] [__style__="new-york"] {
	display: none;
}

[data-rehype-pretty-code-figure] {
	position: relative;
}

[data-rehype-pretty-code-figure] code {
	display: grid;
	min-width: 100%;
	border-radius: 0;
	overflow-wrap: break-word;
	background: transparent;
	padding: 0;
	border: 0;
	counter-reset: line;
	box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line] {
	display: inline-block;
	min-height: 1.5rem;
	width: 100%;
	padding: 2px 1rem;
}

[data-rehype-pretty-code-figure]
	> pre[data-language="txt"]
	> code[data-language="txt"]
	span[data-line] {
	color: white;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
	padding: 0 0.5rem;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
	color: color-mix(in oklch, var(--color-zinc-50) 40%, transparent);
	font-size: 12px;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1.8rem;
	margin-right: 1.4rem;
	text-align: right;
}

[data-metadata] .pre-copy-btn {
	top: calc(var(--spacing) * 16) !important;
}

[data-rehype-pretty-code-figure] .line--highlighted {
	background-color: color-mix(in oklab, var(--color-zinc-700) 50%, transparent);
}

[data-rehype-pretty-code-figure] .with--meta {
	top: calc(var(--spacing) * 16) !important;
}

[data-rehype-pretty-code-figure] .line-highlighted span {
	position: relative;
}

[data-rehype-pretty-code-figure] .chars--highlighted {
	border-radius: var(--radius-md);
	border-color: color-mix(in oklab, var(--color-zinc-700) 70%, transparent);
	background-color: color-mix(in oklab, var(--color-zinc-500) 50%, transparent);
	padding: var(--spacing);
}

.dark [data-rehype-pretty-code-figure] .chars--highlighted {
	background-color: var(--color-zinc-900);
}

[data-rehype-pretty-code-title] {
	margin-top: calc(var(--spacing) * 2);
	padding-top: calc(var(--spacing) * 6);
	padding-left: calc(var(--spacing) * 4);
	padding-right: calc(var(--spacing) * 4);
	font-weight: 500;
	font-size: 0.875rem;
}

[data-rehype-pretty-code-title] + pre {
	margin-top: calc(var(--spacing) * 2);
}

code[data-theme*="github-dark"],
code[data-theme*="github-dark"] span {
	color: var(--shiki-light);
	/* background-color: var(--shiki-light-bg); */
}
