.theme-slate {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.13,0.04,265);
  --muted: oklch(0.97,0.01,248);
  --muted-foreground: oklch(0.55,0.04,257);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.13,0.04,265);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.13,0.04,265);
  --border: oklch(0.93,0.01,256);
  --input: oklch(0.93,0.01,256);
  --primary: oklch(0.21,0.04,266);
  --primary-foreground: oklch(0.98,0.00,248);
  --secondary: oklch(0.97,0.01,248);
  --secondary-foreground: oklch(0.21,0.04,266);
  --accent: oklch(0.97,0.01,248);
  --accent-foreground: oklch(0.21,0.04,266);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.00,248);
  --ring: oklch(0.13,0.04,265);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-slate {
  --background: oklch(0.13,0.04,265);
  --foreground: oklch(0.98,0.00,248);
  --muted: oklch(0.28,0.04,260);
  --muted-foreground: oklch(0.71,0.04,257);
  --popover: oklch(0.13,0.04,265);
  --popover-foreground: oklch(0.98,0.00,248);
  --card: oklch(0.13,0.04,265);
  --card-foreground: oklch(0.98,0.00,248);
  --border: oklch(0.28,0.04,260);
  --input: oklch(0.28,0.04,260);
  --primary: oklch(0.98,0.00,248);
  --primary-foreground: oklch(0.21,0.04,266);
  --secondary: oklch(0.28,0.04,260);
  --secondary-foreground: oklch(0.98,0.00,248);
  --accent: oklch(0.28,0.04,260);
  --accent-foreground: oklch(0.98,0.00,248);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.00,248);
  --ring: oklch(0.87,0.02,253);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-gray {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.13,0.03,262);
  --muted: oklch(0.97,0.00,265);
  --muted-foreground: oklch(0.55,0.02,264);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.13,0.03,262);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.13,0.03,262);
  --border: oklch(0.93,0.01,265);
  --input: oklch(0.93,0.01,265);
  --primary: oklch(0.21,0.03,265);
  --primary-foreground: oklch(0.98,0.00,248);
  --secondary: oklch(0.97,0.00,265);
  --secondary-foreground: oklch(0.21,0.03,265);
  --accent: oklch(0.97,0.00,265);
  --accent-foreground: oklch(0.21,0.03,265);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.00,248);
  --ring: oklch(0.13,0.03,262);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-gray {
  --background: oklch(0.13,0.03,262);
  --foreground: oklch(0.98,0.00,248);
  --muted: oklch(0.28,0.03,257);
  --muted-foreground: oklch(0.71,0.02,261);
  --popover: oklch(0.13,0.03,262);
  --popover-foreground: oklch(0.98,0.00,248);
  --card: oklch(0.13,0.03,262);
  --card-foreground: oklch(0.98,0.00,248);
  --border: oklch(0.28,0.03,257);
  --input: oklch(0.28,0.03,257);
  --primary: oklch(0.98,0.00,248);
  --primary-foreground: oklch(0.21,0.03,265);
  --secondary: oklch(0.28,0.03,257);
  --secondary-foreground: oklch(0.98,0.00,248);
  --accent: oklch(0.28,0.03,257);
  --accent-foreground: oklch(0.98,0.00,248);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.00,248);
  --ring: oklch(0.87,0.01,258);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-zinc {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.14,0.00,286);
  --muted: oklch(0.97,0.00,286);
  --muted-foreground: oklch(0.55,0.01,286);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.14,0.00,286);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.14,0.00,286);
  --border: oklch(0.92,0.00,286);
  --input: oklch(0.92,0.00,286);
  --primary: oklch(0.21,0.01,286);
  --primary-foreground: oklch(0.99,0.00,0);
  --secondary: oklch(0.97,0.00,286);
  --secondary-foreground: oklch(0.21,0.01,286);
  --accent: oklch(0.97,0.00,286);
  --accent-foreground: oklch(0.21,0.01,286);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.99,0.00,0);
  --ring: oklch(0.14,0.00,286);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-zinc {
  --background: oklch(0.14,0.00,286);
  --foreground: oklch(0.99,0.00,0);
  --muted: oklch(0.27,0.01,286);
  --muted-foreground: oklch(0.71,0.01,286);
  --popover: oklch(0.14,0.00,286);
  --popover-foreground: oklch(0.99,0.00,0);
  --card: oklch(0.14,0.00,286);
  --card-foreground: oklch(0.99,0.00,0);
  --border: oklch(0.27,0.01,286);
  --input: oklch(0.27,0.01,286);
  --primary: oklch(0.99,0.00,0);
  --primary-foreground: oklch(0.21,0.01,286);
  --secondary: oklch(0.27,0.01,286);
  --secondary-foreground: oklch(0.99,0.00,0);
  --accent: oklch(0.27,0.01,286);
  --accent-foreground: oklch(0.99,0.00,0);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.99,0.00,0);
  --ring: oklch(0.87,0.01,286);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-neutral {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.14,0.00,0);
  --muted: oklch(0.97,0.00,0);
  --muted-foreground: oklch(0.56,0.00,0);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.14,0.00,0);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.14,0.00,0);
  --border: oklch(0.92,0.00,0);
  --input: oklch(0.92,0.00,0);
  --primary: oklch(0.20,0.00,0);
  --primary-foreground: oklch(0.99,0.00,0);
  --secondary: oklch(0.97,0.00,0);
  --secondary-foreground: oklch(0.20,0.00,0);
  --accent: oklch(0.97,0.00,0);
  --accent-foreground: oklch(0.20,0.00,0);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.99,0.00,0);
  --ring: oklch(0.14,0.00,0);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-neutral {
  --background: oklch(0.14,0.00,0);
  --foreground: oklch(0.99,0.00,0);
  --muted: oklch(0.27,0.00,0);
  --muted-foreground: oklch(0.72,0.00,0);
  --popover: oklch(0.14,0.00,0);
  --popover-foreground: oklch(0.99,0.00,0);
  --card: oklch(0.14,0.00,0);
  --card-foreground: oklch(0.99,0.00,0);
  --border: oklch(0.27,0.00,0);
  --input: oklch(0.27,0.00,0);
  --primary: oklch(0.99,0.00,0);
  --primary-foreground: oklch(0.20,0.00,0);
  --secondary: oklch(0.27,0.00,0);
  --secondary-foreground: oklch(0.99,0.00,0);
  --accent: oklch(0.27,0.00,0);
  --accent-foreground: oklch(0.99,0.00,0);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.99,0.00,0);
  --ring: oklch(0.87,0.00,0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-stone {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.15,0.00,49);
  --muted: oklch(0.97,0.00,106);
  --muted-foreground: oklch(0.55,0.01,58);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.15,0.00,49);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.15,0.00,49);
  --border: oklch(0.92,0.00,49);
  --input: oklch(0.92,0.00,49);
  --primary: oklch(0.22,0.01,56);
  --primary-foreground: oklch(0.98,0.00,106);
  --secondary: oklch(0.97,0.00,106);
  --secondary-foreground: oklch(0.22,0.01,56);
  --accent: oklch(0.97,0.00,106);
  --accent-foreground: oklch(0.22,0.01,56);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.00,106);
  --ring: oklch(0.15,0.00,49);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-stone {
  --background: oklch(0.15,0.00,49);
  --foreground: oklch(0.98,0.00,106);
  --muted: oklch(0.27,0.01,34);
  --muted-foreground: oklch(0.72,0.01,56);
  --popover: oklch(0.15,0.00,49);
  --popover-foreground: oklch(0.98,0.00,106);
  --card: oklch(0.15,0.00,49);
  --card-foreground: oklch(0.98,0.00,106);
  --border: oklch(0.27,0.01,34);
  --input: oklch(0.27,0.01,34);
  --primary: oklch(0.98,0.00,106);
  --primary-foreground: oklch(0.22,0.01,56);
  --secondary: oklch(0.27,0.01,34);
  --secondary-foreground: oklch(0.98,0.00,106);
  --accent: oklch(0.27,0.01,34);
  --accent-foreground: oklch(0.98,0.00,106);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.00,106);
  --ring: oklch(0.87,0.00,56);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-red {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.26,0.09,26);
  --muted: oklch(0.94,0.03,18);
  --muted-foreground: oklch(0.64,0.21,25);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.26,0.09,26);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.26,0.09,26);
  --border: oklch(0.88,0.06,18);
  --input: oklch(0.88,0.06,18);
  --primary: oklch(0.40,0.13,26);
  --primary-foreground: oklch(0.97,0.01,17);
  --secondary: oklch(0.94,0.03,18);
  --secondary-foreground: oklch(0.40,0.13,26);
  --accent: oklch(0.94,0.03,18);
  --accent-foreground: oklch(0.40,0.13,26);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.97,0.01,17);
  --ring: oklch(0.26,0.09,26);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-red {
  --background: oklch(0.26,0.09,26);
  --foreground: oklch(0.97,0.01,17);
  --muted: oklch(0.44,0.16,27);
  --muted-foreground: oklch(0.71,0.17,22);
  --popover: oklch(0.26,0.09,26);
  --popover-foreground: oklch(0.97,0.01,17);
  --card: oklch(0.26,0.09,26);
  --card-foreground: oklch(0.97,0.01,17);
  --border: oklch(0.44,0.16,27);
  --input: oklch(0.44,0.16,27);
  --primary: oklch(0.97,0.01,17);
  --primary-foreground: oklch(0.40,0.13,26);
  --secondary: oklch(0.44,0.16,27);
  --secondary-foreground: oklch(0.97,0.01,17);
  --accent: oklch(0.44,0.16,27);
  --accent-foreground: oklch(0.97,0.01,17);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.97,0.01,17);
  --ring: oklch(0.81,0.10,20);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-orange {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.27,0.08,36);
  --muted: oklch(0.95,0.04,75);
  --muted-foreground: oklch(0.70,0.19,48);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.27,0.08,36);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.27,0.08,36);
  --border: oklch(0.90,0.07,71);
  --input: oklch(0.90,0.07,71);
  --primary: oklch(0.41,0.12,38);
  --primary-foreground: oklch(0.98,0.02,74);
  --secondary: oklch(0.95,0.04,75);
  --secondary-foreground: oklch(0.41,0.12,38);
  --accent: oklch(0.95,0.04,75);
  --accent-foreground: oklch(0.41,0.12,38);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.02,74);
  --ring: oklch(0.27,0.08,36);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-orange {
  --background: oklch(0.27,0.08,36);
  --foreground: oklch(0.98,0.02,74);
  --muted: oklch(0.47,0.14,37);
  --muted-foreground: oklch(0.76,0.16,56);
  --popover: oklch(0.27,0.08,36);
  --popover-foreground: oklch(0.98,0.02,74);
  --card: oklch(0.27,0.08,36);
  --card-foreground: oklch(0.98,0.02,74);
  --border: oklch(0.47,0.14,37);
  --input: oklch(0.47,0.14,37);
  --primary: oklch(0.98,0.02,74);
  --primary-foreground: oklch(0.41,0.12,38);
  --secondary: oklch(0.47,0.14,37);
  --secondary-foreground: oklch(0.98,0.02,74);
  --accent: oklch(0.47,0.14,37);
  --accent-foreground: oklch(0.98,0.02,74);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.02,74);
  --ring: oklch(0.84,0.12,66);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-amber {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.28,0.07,46);
  --muted: oklch(0.96,0.06,96);
  --muted-foreground: oklch(0.77,0.16,70);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.28,0.07,46);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.28,0.07,46);
  --border: oklch(0.92,0.12,96);
  --input: oklch(0.92,0.12,96);
  --primary: oklch(0.41,0.11,46);
  --primary-foreground: oklch(0.99,0.02,95);
  --secondary: oklch(0.96,0.06,96);
  --secondary-foreground: oklch(0.41,0.11,46);
  --accent: oklch(0.96,0.06,96);
  --accent-foreground: oklch(0.41,0.11,46);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.99,0.02,95);
  --ring: oklch(0.28,0.07,46);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-amber {
  --background: oklch(0.28,0.07,46);
  --foreground: oklch(0.99,0.02,95);
  --muted: oklch(0.47,0.12,46);
  --muted-foreground: oklch(0.84,0.16,84);
  --popover: oklch(0.28,0.07,46);
  --popover-foreground: oklch(0.99,0.02,95);
  --card: oklch(0.28,0.07,46);
  --card-foreground: oklch(0.99,0.02,95);
  --border: oklch(0.47,0.12,46);
  --input: oklch(0.47,0.12,46);
  --primary: oklch(0.99,0.02,95);
  --primary-foreground: oklch(0.41,0.11,46);
  --secondary: oklch(0.47,0.12,46);
  --secondary-foreground: oklch(0.99,0.02,95);
  --accent: oklch(0.47,0.12,46);
  --accent-foreground: oklch(0.99,0.02,95);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.99,0.02,95);
  --ring: oklch(0.88,0.15,92);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-yellow {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.29,0.06,54);
  --muted: oklch(0.97,0.07,103);
  --muted-foreground: oklch(0.80,0.16,86);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.29,0.06,54);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.29,0.06,54);
  --border: oklch(0.95,0.12,102);
  --input: oklch(0.95,0.12,102);
  --primary: oklch(0.42,0.09,58);
  --primary-foreground: oklch(0.99,0.03,102);
  --secondary: oklch(0.97,0.07,103);
  --secondary-foreground: oklch(0.42,0.09,58);
  --accent: oklch(0.97,0.07,103);
  --accent-foreground: oklch(0.42,0.09,58);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.99,0.03,102);
  --ring: oklch(0.29,0.06,54);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-yellow {
  --background: oklch(0.29,0.06,54);
  --foreground: oklch(0.99,0.03,102);
  --muted: oklch(0.48,0.10,62);
  --muted-foreground: oklch(0.86,0.17,92);
  --popover: oklch(0.29,0.06,54);
  --popover-foreground: oklch(0.99,0.03,102);
  --card: oklch(0.29,0.06,54);
  --card-foreground: oklch(0.99,0.03,102);
  --border: oklch(0.48,0.10,62);
  --input: oklch(0.48,0.10,62);
  --primary: oklch(0.99,0.03,102);
  --primary-foreground: oklch(0.42,0.09,58);
  --secondary: oklch(0.48,0.10,62);
  --secondary-foreground: oklch(0.99,0.03,102);
  --accent: oklch(0.48,0.10,62);
  --accent-foreground: oklch(0.99,0.03,102);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.99,0.03,102);
  --ring: oklch(0.91,0.17,98);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-lime {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.27,0.07,132);
  --muted: oklch(0.97,0.07,122);
  --muted-foreground: oklch(0.77,0.20,131);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.27,0.07,132);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.27,0.07,132);
  --border: oklch(0.94,0.12,124);
  --input: oklch(0.94,0.12,124);
  --primary: oklch(0.41,0.10,131);
  --primary-foreground: oklch(0.99,0.03,121);
  --secondary: oklch(0.97,0.07,122);
  --secondary-foreground: oklch(0.41,0.10,131);
  --accent: oklch(0.97,0.07,122);
  --accent-foreground: oklch(0.41,0.10,131);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.99,0.03,121);
  --ring: oklch(0.27,0.07,132);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-lime {
  --background: oklch(0.27,0.07,132);
  --foreground: oklch(0.99,0.03,121);
  --muted: oklch(0.45,0.11,131);
  --muted-foreground: oklch(0.85,0.21,129);
  --popover: oklch(0.27,0.07,132);
  --popover-foreground: oklch(0.99,0.03,121);
  --card: oklch(0.27,0.07,132);
  --card-foreground: oklch(0.99,0.03,121);
  --border: oklch(0.45,0.11,131);
  --input: oklch(0.45,0.11,131);
  --primary: oklch(0.99,0.03,121);
  --primary-foreground: oklch(0.41,0.10,131);
  --secondary: oklch(0.45,0.11,131);
  --secondary-foreground: oklch(0.99,0.03,121);
  --accent: oklch(0.45,0.11,131);
  --accent-foreground: oklch(0.99,0.03,121);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.99,0.03,121);
  --ring: oklch(0.90,0.18,127);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-green {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.27,0.06,153);
  --muted: oklch(0.96,0.04,157);
  --muted-foreground: oklch(0.72,0.19,150);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.27,0.06,153);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.27,0.06,153);
  --border: oklch(0.93,0.08,156);
  --input: oklch(0.93,0.08,156);
  --primary: oklch(0.39,0.09,153);
  --primary-foreground: oklch(0.98,0.02,156);
  --secondary: oklch(0.96,0.04,157);
  --secondary-foreground: oklch(0.39,0.09,153);
  --accent: oklch(0.96,0.04,157);
  --accent-foreground: oklch(0.39,0.09,153);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.02,156);
  --ring: oklch(0.27,0.06,153);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-green {
  --background: oklch(0.27,0.06,153);
  --foreground: oklch(0.98,0.02,156);
  --muted: oklch(0.45,0.11,151);
  --muted-foreground: oklch(0.80,0.18,152);
  --popover: oklch(0.27,0.06,153);
  --popover-foreground: oklch(0.98,0.02,156);
  --card: oklch(0.27,0.06,153);
  --card-foreground: oklch(0.98,0.02,156);
  --border: oklch(0.45,0.11,151);
  --input: oklch(0.45,0.11,151);
  --primary: oklch(0.98,0.02,156);
  --primary-foreground: oklch(0.39,0.09,153);
  --secondary: oklch(0.45,0.11,151);
  --secondary-foreground: oklch(0.98,0.02,156);
  --accent: oklch(0.45,0.11,151);
  --accent-foreground: oklch(0.98,0.02,156);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.02,156);
  --ring: oklch(0.87,0.14,154);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-emerald {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.26,0.05,173);
  --muted: oklch(0.95,0.05,163);
  --muted-foreground: oklch(0.70,0.15,162);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.26,0.05,173);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.26,0.05,173);
  --border: oklch(0.90,0.09,164);
  --input: oklch(0.90,0.09,164);
  --primary: oklch(0.38,0.07,169);
  --primary-foreground: oklch(0.98,0.02,166);
  --secondary: oklch(0.95,0.05,163);
  --secondary-foreground: oklch(0.38,0.07,169);
  --accent: oklch(0.95,0.05,163);
  --accent-foreground: oklch(0.38,0.07,169);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.02,166);
  --ring: oklch(0.26,0.05,173);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-emerald {
  --background: oklch(0.26,0.05,173);
  --foreground: oklch(0.98,0.02,166);
  --muted: oklch(0.43,0.09,167);
  --muted-foreground: oklch(0.77,0.15,163);
  --popover: oklch(0.26,0.05,173);
  --popover-foreground: oklch(0.98,0.02,166);
  --card: oklch(0.26,0.05,173);
  --card-foreground: oklch(0.98,0.02,166);
  --border: oklch(0.43,0.09,167);
  --input: oklch(0.43,0.09,167);
  --primary: oklch(0.98,0.02,166);
  --primary-foreground: oklch(0.38,0.07,169);
  --secondary: oklch(0.43,0.09,167);
  --secondary-foreground: oklch(0.98,0.02,166);
  --accent: oklch(0.43,0.09,167);
  --accent-foreground: oklch(0.98,0.02,166);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.02,166);
  --ring: oklch(0.85,0.13,165);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-teal {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.28,0.04,193);
  --muted: oklch(0.95,0.05,181);
  --muted-foreground: oklch(0.70,0.12,183);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.28,0.04,193);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.28,0.04,193);
  --border: oklch(0.91,0.09,180);
  --input: oklch(0.91,0.09,180);
  --primary: oklch(0.39,0.06,188);
  --primary-foreground: oklch(0.98,0.01,181);
  --secondary: oklch(0.95,0.05,181);
  --secondary-foreground: oklch(0.39,0.06,188);
  --accent: oklch(0.95,0.05,181);
  --accent-foreground: oklch(0.39,0.06,188);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.01,181);
  --ring: oklch(0.28,0.04,193);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-teal {
  --background: oklch(0.28,0.04,193);
  --foreground: oklch(0.98,0.01,181);
  --muted: oklch(0.44,0.07,188);
  --muted-foreground: oklch(0.78,0.13,182);
  --popover: oklch(0.28,0.04,193);
  --popover-foreground: oklch(0.98,0.01,181);
  --card: oklch(0.28,0.04,193);
  --card-foreground: oklch(0.98,0.01,181);
  --border: oklch(0.44,0.07,188);
  --input: oklch(0.44,0.07,188);
  --primary: oklch(0.98,0.01,181);
  --primary-foreground: oklch(0.39,0.06,188);
  --secondary: oklch(0.44,0.07,188);
  --secondary-foreground: oklch(0.98,0.01,181);
  --accent: oklch(0.44,0.07,188);
  --accent-foreground: oklch(0.98,0.01,181);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.01,181);
  --ring: oklch(0.85,0.13,181);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-cyan {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.30,0.05,230);
  --muted: oklch(0.96,0.04,203);
  --muted-foreground: oklch(0.71,0.13,215);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.30,0.05,230);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.30,0.05,230);
  --border: oklch(0.92,0.08,205);
  --input: oklch(0.92,0.08,205);
  --primary: oklch(0.40,0.07,227);
  --primary-foreground: oklch(0.98,0.02,201);
  --secondary: oklch(0.96,0.04,203);
  --secondary-foreground: oklch(0.40,0.07,227);
  --accent: oklch(0.96,0.04,203);
  --accent-foreground: oklch(0.40,0.07,227);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.02,201);
  --ring: oklch(0.30,0.05,230);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-cyan {
  --background: oklch(0.30,0.05,230);
  --foreground: oklch(0.98,0.02,201);
  --muted: oklch(0.45,0.08,224);
  --muted-foreground: oklch(0.80,0.13,212);
  --popover: oklch(0.30,0.05,230);
  --popover-foreground: oklch(0.98,0.02,201);
  --card: oklch(0.30,0.05,230);
  --card-foreground: oklch(0.98,0.02,201);
  --border: oklch(0.45,0.08,224);
  --input: oklch(0.45,0.08,224);
  --primary: oklch(0.98,0.02,201);
  --primary-foreground: oklch(0.40,0.07,227);
  --secondary: oklch(0.45,0.08,224);
  --secondary-foreground: oklch(0.98,0.02,201);
  --accent: oklch(0.45,0.08,224);
  --accent-foreground: oklch(0.98,0.02,201);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.02,201);
  --ring: oklch(0.87,0.12,207);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-sky {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.29,0.06,243);
  --muted: oklch(0.95,0.03,237);
  --muted-foreground: oklch(0.68,0.15,237);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.29,0.06,243);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.29,0.06,243);
  --border: oklch(0.90,0.06,231);
  --input: oklch(0.90,0.06,231);
  --primary: oklch(0.39,0.08,241);
  --primary-foreground: oklch(0.98,0.01,237);
  --secondary: oklch(0.95,0.03,237);
  --secondary-foreground: oklch(0.39,0.08,241);
  --accent: oklch(0.95,0.03,237);
  --accent-foreground: oklch(0.39,0.08,241);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.01,237);
  --ring: oklch(0.29,0.06,243);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-sky {
  --background: oklch(0.29,0.06,243);
  --foreground: oklch(0.98,0.01,237);
  --muted: oklch(0.44,0.10,241);
  --muted-foreground: oklch(0.75,0.14,233);
  --popover: oklch(0.29,0.06,243);
  --popover-foreground: oklch(0.98,0.01,237);
  --card: oklch(0.29,0.06,243);
  --card-foreground: oklch(0.98,0.01,237);
  --border: oklch(0.44,0.10,241);
  --input: oklch(0.44,0.10,241);
  --primary: oklch(0.98,0.01,237);
  --primary-foreground: oklch(0.39,0.08,241);
  --secondary: oklch(0.44,0.10,241);
  --secondary-foreground: oklch(0.98,0.01,237);
  --accent: oklch(0.44,0.10,241);
  --accent-foreground: oklch(0.98,0.01,237);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.01,237);
  --ring: oklch(0.83,0.10,230);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-blue {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.28,0.09,268);
  --muted: oklch(0.93,0.03,256);
  --muted-foreground: oklch(0.62,0.19,260);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.28,0.09,268);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.28,0.09,268);
  --border: oklch(0.88,0.06,254);
  --input: oklch(0.88,0.06,254);
  --primary: oklch(0.38,0.14,266);
  --primary-foreground: oklch(0.97,0.01,255);
  --secondary: oklch(0.93,0.03,256);
  --secondary-foreground: oklch(0.38,0.14,266);
  --accent: oklch(0.93,0.03,256);
  --accent-foreground: oklch(0.38,0.14,266);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.97,0.01,255);
  --ring: oklch(0.28,0.09,268);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-blue {
  --background: oklch(0.28,0.09,268);
  --foreground: oklch(0.97,0.01,255);
  --muted: oklch(0.42,0.18,266);
  --muted-foreground: oklch(0.71,0.14,255);
  --popover: oklch(0.28,0.09,268);
  --popover-foreground: oklch(0.97,0.01,255);
  --card: oklch(0.28,0.09,268);
  --card-foreground: oklch(0.97,0.01,255);
  --border: oklch(0.42,0.18,266);
  --input: oklch(0.42,0.18,266);
  --primary: oklch(0.97,0.01,255);
  --primary-foreground: oklch(0.38,0.14,266);
  --secondary: oklch(0.42,0.18,266);
  --secondary-foreground: oklch(0.97,0.01,255);
  --accent: oklch(0.42,0.18,266);
  --accent-foreground: oklch(0.97,0.01,255);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.97,0.01,255);
  --ring: oklch(0.81,0.10,252);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-indigo {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.26,0.09,281);
  --muted: oklch(0.93,0.03,273);
  --muted-foreground: oklch(0.59,0.20,277);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.26,0.09,281);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.26,0.09,281);
  --border: oklch(0.87,0.06,274);
  --input: oklch(0.87,0.06,274);
  --primary: oklch(0.36,0.14,279);
  --primary-foreground: oklch(0.96,0.02,272);
  --secondary: oklch(0.93,0.03,273);
  --secondary-foreground: oklch(0.36,0.14,279);
  --accent: oklch(0.93,0.03,273);
  --accent-foreground: oklch(0.36,0.14,279);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.96,0.02,272);
  --ring: oklch(0.26,0.09,281);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-indigo {
  --background: oklch(0.26,0.09,281);
  --foreground: oklch(0.96,0.02,272);
  --muted: oklch(0.40,0.18,277);
  --muted-foreground: oklch(0.68,0.16,277);
  --popover: oklch(0.26,0.09,281);
  --popover-foreground: oklch(0.96,0.02,272);
  --card: oklch(0.26,0.09,281);
  --card-foreground: oklch(0.96,0.02,272);
  --border: oklch(0.40,0.18,277);
  --input: oklch(0.40,0.18,277);
  --primary: oklch(0.96,0.02,272);
  --primary-foreground: oklch(0.36,0.14,279);
  --secondary: oklch(0.40,0.18,277);
  --secondary-foreground: oklch(0.96,0.02,272);
  --accent: oklch(0.40,0.18,277);
  --accent-foreground: oklch(0.96,0.02,272);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.96,0.02,272);
  --ring: oklch(0.79,0.10,275);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-violet {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.28,0.14,291);
  --muted: oklch(0.94,0.03,295);
  --muted-foreground: oklch(0.61,0.22,293);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.28,0.14,291);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.28,0.14,291);
  --border: oklch(0.89,0.05,293);
  --input: oklch(0.89,0.05,293);
  --primary: oklch(0.38,0.18,294);
  --primary-foreground: oklch(0.97,0.02,294);
  --secondary: oklch(0.94,0.03,295);
  --secondary-foreground: oklch(0.38,0.18,294);
  --accent: oklch(0.94,0.03,295);
  --accent-foreground: oklch(0.38,0.18,294);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.97,0.02,294);
  --ring: oklch(0.28,0.14,291);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-violet {
  --background: oklch(0.28,0.14,291);
  --foreground: oklch(0.97,0.02,294);
  --muted: oklch(0.43,0.21,293);
  --muted-foreground: oklch(0.71,0.16,294);
  --popover: oklch(0.28,0.14,291);
  --popover-foreground: oklch(0.97,0.02,294);
  --card: oklch(0.28,0.14,291);
  --card-foreground: oklch(0.97,0.02,294);
  --border: oklch(0.43,0.21,293);
  --input: oklch(0.43,0.21,293);
  --primary: oklch(0.97,0.02,294);
  --primary-foreground: oklch(0.38,0.18,294);
  --secondary: oklch(0.43,0.21,293);
  --secondary-foreground: oklch(0.97,0.02,294);
  --accent: oklch(0.43,0.21,293);
  --accent-foreground: oklch(0.97,0.02,294);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.97,0.02,294);
  --ring: oklch(0.81,0.10,294);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-purple {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.29,0.14,303);
  --muted: oklch(0.95,0.03,307);
  --muted-foreground: oklch(0.63,0.23,304);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.29,0.14,303);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.29,0.14,303);
  --border: oklch(0.90,0.06,307);
  --input: oklch(0.90,0.06,307);
  --primary: oklch(0.38,0.17,305);
  --primary-foreground: oklch(0.98,0.01,308);
  --secondary: oklch(0.95,0.03,307);
  --secondary-foreground: oklch(0.38,0.17,305);
  --accent: oklch(0.95,0.03,307);
  --accent-foreground: oklch(0.38,0.17,305);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.01,308);
  --ring: oklch(0.29,0.14,303);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-purple {
  --background: oklch(0.29,0.14,303);
  --foreground: oklch(0.98,0.01,308);
  --muted: oklch(0.44,0.20,304);
  --muted-foreground: oklch(0.72,0.18,306);
  --popover: oklch(0.29,0.14,303);
  --popover-foreground: oklch(0.98,0.01,308);
  --card: oklch(0.29,0.14,303);
  --card-foreground: oklch(0.98,0.01,308);
  --border: oklch(0.44,0.20,304);
  --input: oklch(0.44,0.20,304);
  --primary: oklch(0.98,0.01,308);
  --primary-foreground: oklch(0.38,0.17,305);
  --secondary: oklch(0.44,0.20,304);
  --secondary-foreground: oklch(0.98,0.01,308);
  --accent: oklch(0.44,0.20,304);
  --accent-foreground: oklch(0.98,0.01,308);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.01,308);
  --ring: oklch(0.83,0.11,306);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-fuchsia {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.29,0.13,326);
  --muted: oklch(0.95,0.04,319);
  --muted-foreground: oklch(0.67,0.26,322);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.29,0.13,326);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.29,0.13,326);
  --border: oklch(0.90,0.07,320);
  --input: oklch(0.90,0.07,320);
  --primary: oklch(0.40,0.16,326);
  --primary-foreground: oklch(0.98,0.02,320);
  --secondary: oklch(0.95,0.04,319);
  --secondary-foreground: oklch(0.40,0.16,326);
  --accent: oklch(0.95,0.04,319);
  --accent-foreground: oklch(0.40,0.16,326);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.98,0.02,320);
  --ring: oklch(0.29,0.13,326);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-fuchsia {
  --background: oklch(0.29,0.13,326);
  --foreground: oklch(0.98,0.02,320);
  --muted: oklch(0.45,0.19,325);
  --muted-foreground: oklch(0.75,0.21,322);
  --popover: oklch(0.29,0.13,326);
  --popover-foreground: oklch(0.98,0.02,320);
  --card: oklch(0.29,0.13,326);
  --card-foreground: oklch(0.98,0.02,320);
  --border: oklch(0.45,0.19,325);
  --input: oklch(0.45,0.19,325);
  --primary: oklch(0.98,0.02,320);
  --primary-foreground: oklch(0.40,0.16,326);
  --secondary: oklch(0.45,0.19,325);
  --secondary-foreground: oklch(0.98,0.02,320);
  --accent: oklch(0.45,0.19,325);
  --accent-foreground: oklch(0.98,0.02,320);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.98,0.02,320);
  --ring: oklch(0.83,0.13,321);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-pink {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.28,0.10,4);
  --muted: oklch(0.95,0.03,342);
  --muted-foreground: oklch(0.66,0.21,354);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.28,0.10,4);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.28,0.10,4);
  --border: oklch(0.90,0.06,343);
  --input: oklch(0.90,0.06,343);
  --primary: oklch(0.41,0.14,2);
  --primary-foreground: oklch(0.97,0.01,343);
  --secondary: oklch(0.95,0.03,342);
  --secondary-foreground: oklch(0.41,0.14,2);
  --accent: oklch(0.95,0.03,342);
  --accent-foreground: oklch(0.41,0.14,2);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.97,0.01,343);
  --ring: oklch(0.28,0.10,4);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-pink {
  --background: oklch(0.28,0.10,4);
  --foreground: oklch(0.97,0.01,343);
  --muted: oklch(0.46,0.17,4);
  --muted-foreground: oklch(0.73,0.18,350);
  --popover: oklch(0.28,0.10,4);
  --popover-foreground: oklch(0.97,0.01,343);
  --card: oklch(0.28,0.10,4);
  --card-foreground: oklch(0.97,0.01,343);
  --border: oklch(0.46,0.17,4);
  --input: oklch(0.46,0.17,4);
  --primary: oklch(0.97,0.01,343);
  --primary-foreground: oklch(0.41,0.14,2);
  --secondary: oklch(0.46,0.17,4);
  --secondary-foreground: oklch(0.97,0.01,343);
  --accent: oklch(0.46,0.17,4);
  --accent-foreground: oklch(0.97,0.01,343);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.97,0.01,343);
  --ring: oklch(0.82,0.11,346);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.theme-rose {
  --background: oklch(1.00,0.00,0);
  --foreground: oklch(0.27,0.10,12);
  --muted: oklch(0.94,0.03,13);
  --muted-foreground: oklch(0.65,0.22,16);
  --popover: oklch(1.00,0.00,0);
  --popover-foreground: oklch(0.27,0.10,12);
  --card: oklch(1.00,0.00,0);
  --card-foreground: oklch(0.27,0.10,12);
  --border: oklch(0.89,0.06,10);
  --input: oklch(0.89,0.06,10);
  --primary: oklch(0.41,0.15,10);
  --primary-foreground: oklch(0.97,0.02,12);
  --secondary: oklch(0.94,0.03,13);
  --secondary-foreground: oklch(0.41,0.15,10);
  --accent: oklch(0.94,0.03,13);
  --accent-foreground: oklch(0.41,0.15,10);
  --destructive: oklch(0.64,0.21,25);
  --destructive-foreground: oklch(0.97,0.02,12);
  --ring: oklch(0.27,0.10,12);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark .theme-rose {
  --background: oklch(0.27,0.10,12);
  --foreground: oklch(0.97,0.02,12);
  --muted: oklch(0.45,0.17,14);
  --muted-foreground: oklch(0.72,0.17,13);
  --popover: oklch(0.27,0.10,12);
  --popover-foreground: oklch(0.97,0.02,12);
  --card: oklch(0.27,0.10,12);
  --card-foreground: oklch(0.97,0.02,12);
  --border: oklch(0.45,0.17,14);
  --input: oklch(0.45,0.17,14);
  --primary: oklch(0.97,0.02,12);
  --primary-foreground: oklch(0.41,0.15,10);
  --secondary: oklch(0.45,0.17,14);
  --secondary-foreground: oklch(0.97,0.02,12);
  --accent: oklch(0.45,0.17,14);
  --accent-foreground: oklch(0.97,0.02,12);
  --destructive: oklch(0.40,0.13,26);
  --destructive-foreground: oklch(0.97,0.02,12);
  --ring: oklch(0.81,0.11,12);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}