.mdsvex code {
	@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm;
}

[data-theme="default"] {
	display: flex;
}

[data-style="new-york"] [data-style="default"] {
	display: none;
}

[data-style="default"] [data-style="default"] {
	display: flex;
	flex-direction: column;
}

[data-style="new-york"] [data-style="new-york"] {
	display: flex;
	flex-direction: column;
}

[data-style="default"] [data-style="new-york"] {
	display: none;
}

[data-rehype-pretty-code-fragment] {
	@apply relative;
}

[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
	counter-reset: line;
	box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
	@apply px-4 min-h-[1.5rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
	@apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	@apply text-zinc-50/40 text-xs;
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1.8rem;
	margin-right: 1.4rem;
	text-align: right;
}

[data-metadata] .pre-copy-btn {
	@apply top-16 !important;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .with--meta {
	@apply top-16 !important;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-zinc-700/50 border-zinc-700/70 p-1;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
	@apply bg-zinc-900;
}

[data-rehype-pretty-code-title] {
	@apply mt-2 pt-6 px-4 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
	@apply mt-2;
}
