/* TODO: Move these overrides to a more declarative format in the parent component once this is resolved: https://github.com/f5/unovis/issues/337 */
/* Tooltip Overrides */
:root {
	--vis-tooltip-padding: "0px";
	--vis-tooltip-background-color: "transparent";
	--vis-tooltip-border-color: "transparent";
}
