{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 80,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteIndentScriptAndStyle": true,
				"svelteStrictMode": false,
				"svelteSortOrder": "scripts-markup-styles-options"
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	],
	"bracketSameLine": false
}
